# Coding Exercise #0108

### 1. MultiIndex:

In [8]:
import pandas as pd
import numpy as np
import os

#### 1.1. Creating a DataFrame with MultiIndex:

In [9]:
my_header = ['A','B','C']

In [10]:
my_index_out = ['G1']*2 + ['G2']*2 + ['G3']*2
my_index_in = ['a', 'b']*3

In [11]:
my_index_zipped = list(zip(my_index_out, my_index_in))
my_index_zipped

[('G1', 'a'), ('G1', 'b'), ('G2', 'a'), ('G2', 'b'), ('G3', 'a'), ('G3', 'b')]

In [12]:
my_multi_index = pd.MultiIndex.from_tuples(my_index_zipped)
df = pd.DataFrame(data=np.random.randn(6,3),index=my_multi_index,columns=my_header)

In [13]:
df

             A         B         C
G1 a -1.197911  0.712414 -0.421761
   b -0.030502  0.885940  1.430508
G2 a -0.024153 -0.249942  1.321822
   b  0.632598  0.876174  1.253247
G3 a -0.467531  1.431551 -0.683823
   b  0.522538 -0.066197  0.714987

#### 1.2. Indexing and slicing DataFrames with MultiIndex:

In [14]:
df.loc['G1']

          A         B         C
a -1.197911  0.712414 -0.421761
b -0.030502  0.885940  1.430508

In [15]:
# Indexing followed by another indexing.
df.loc['G1'].loc['a']

A   -1.197911
B    0.712414
C   -0.421761
Name: a, dtype: float64

In [16]:
# Indexing followed by another indexing.
df.loc['G1'].loc['a','B']

0.7124144030651872

### 2. DataFrame summarization:

#### 2.1. Group by method:

In [17]:
# Go to the directory where the data file is located. 
os.chdir(r'C:\Users\hoang\Desktop\SIC\jupyter\data')                # Please, replace the path with your own.

FileNotFoundError: [WinError 2] The system cannot find the file specified: '~~'

In [ ]:
df = pd.read_csv('data_studentlist.csv',header='infer')

In [ ]:
df.head(3)

In [ ]:
# error!!!
# df.groupby('gender').mean()

In [ ]:
df.groupby('gender')['height'].mean()

In [ ]:
df.groupby('gender')[['height','weight']].mean()

In [ ]:
df.groupby('gender')[['grade','age']].std()

In [ ]:
df.groupby('gender')['height'].describe()

In [ ]:
sr = df.groupby(['gender','bloodtype'])['height'].mean()     # MultiIndexed result.
sr

In [ ]:
sr.loc['F']

In [ ]:
sr.loc['F'].loc['A']

#### 2.2.  DataFrame methods:

In [ ]:
df['height'].apply(lambda x: x/100)

In [ ]:
df.sort_values(by='bloodtype')

In [ ]:
df.sort_values(by='bloodtype', ascending=False)

In [ ]:
df.sort_values(by=['bloodtype','gender'])

In [ ]:
df['bloodtype'].unique()

In [ ]:
df['bloodtype'].nunique()

In [ ]:
# Frequency table.
df['bloodtype'].value_counts()

In [ ]:
# Frequency table.
df['gender'].value_counts()

#### 2.3. Pivoting:

In [ ]:
my_dict = {"Size": ["L", "L", "M", "M", "M", "S", "S", "S", "S"],
           "Type": ["A", "A", "A", "B", "B", "A", "A", "B", "B"],
            "Location": ["L1", "L1", "L1", "L2", "L2", "L1", "L2", "L2", "L1"],
            "A": [1, 2, 2, 3, 3, 4, 5, 6, 7],
            "B": [2, 4, 5, 5, 6, 6, 8, 9, 9]}
df = pd.DataFrame(my_dict)
df

In [ ]:
# Index by 'Size' and 'Type'. Columns by 'Location'. Values provided by the 'B' column.
dfr = pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B')      
dfr

In [ ]:
dfr.columns

In [ ]:
dfr.index                                                                 # MultiIndex object!

In [ ]:
# The same as above, but fill the missing values with 0.
pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B', fill_value=0)

In [ ]:
# The same as above with the aggregation function specified.
pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B', aggfunc = np.mean, fill_value=0)

In [ ]:
# Index by ''Location'. Columns by 'Size' and 'Type'. Values provided by the 'B' column.
dfr = pd.pivot_table(df, index='Location', columns=['Size','Type'], values='B')
dfr

In [ ]:
dfr.index

In [ ]:
dfr.columns                                                           # Now, MultiIndex object for the columns.

In [ ]:
# The aggregation funciton is numpy.median().
pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B', aggfunc = np.median, fill_value=0)

In [ ]:
# Group averages of the columns 'A' abd 'B'.
pd.pivot_table(df, index=['Size','Type'], values=['A','B'], aggfunc=np.mean)

In [ ]:
# Now, with groupby() method.
# The result is the same. 
df.groupby(['Size','Type'])[['A','B']].mean()

In [ ]:
# Aggregate differenly the columns 'A' and 'B'.
pd.pivot_table(df, index=['Size','Type'], values=['A','B'], aggfunc={'A':np.max,'B':np.min})

In [ ]:
df.plot.line()